.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* OK, CANCEL 버튼 숨기기 */
.MuiDialogActions-root,
.MuiPickersLayout-actionBar {
  display: none !important;
} 